body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-item {
  height: 80px;
  width: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.navbar-item:hover {
  cursor: pointer;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 200px;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.data-list-container {
  padding: 30px;
  background: linear-gradient(
    180deg,
    #eff2ff -30.56%,
    rgba(232, 236, 255, 0) 135.85%
  );
}

.ms-DetailsHeader {
  padding: 10px !important;
}

.ms-DetailsRow-fields {
  padding: 10px;
}

.ms-DetailsList [role="grid"] {
  overflow: hidden;
}
/* 
.ms-TextField-fieldGroup {
  border: none !important;
}
*/

.ms-TextField-fieldGroup::after {
  border: none !important;
}

.ms-TextField-field::placeholder {
  color: #929292;
}

.data-list-action-container {
  padding-bottom: 10px;
}

.ms-Dialog-content .ms-Dialog-header {
  display: none;
}
